body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 500px;
    border-collapse: collapse;
}
td, th{
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}
caption{
    font-size: 22px;                      
    font-weight: bold;
    padding: 10px;
    background-color: rgb(86, 125, 255);
}
thead, tfoot{
    background-color: #4753ff;
    color: rgb(255, 255, 255);
}
tbody > tr:nth-child(odd){
    background-color: rgb(255, 255, 255);
}
tbody > tr:nth-child(even){
    background-color: rgb(100, 149, 255);
}
td.nun{
    text-align-last: right;
}